.nav-link {
    padding: 10px 20px;
 font-family: Quicksand, sans-serif;
 font-weight: 300;
 color: #fff;
 border: 1px solid #fff;
transition: background-color 250ms linear;
}

.login-link {
margin-right: 25px;
}

.login-link:hover{
 background-color: rgba(211, 211, 211, 0.3);
}

.register-link{
    background-color: #1976d2;
}
.register-link:hover {
    background-color: #1667b8;
}

.hero-link {
    opacity: 0;
    animation-name: animationLinkHero;
    animation-duration: 2000ms;
    animation-delay: 1300ms;
    animation-fill-mode: forwards;
}

@keyframes animationLinkHero {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        
    }
}